<main class="container">
  <div class="left-images">
    <img src="assets/img/video_game.svg" alt="">
    <img src="assets/img/ninja.svg" alt="">
  </div>
  <div class="middle-content">
    <img src="assets/img/logo hero.svg" alt="">

    <div class="horizontal-bar"></div>

    <p class="title">Pense em um lugar...</p>

    <p class="description">
      ...onde você verá todos os seus jogos, conquistas,
       platinas, estatísticas e progressos reunidos em um único lugar,
       a poucos cliques de uma organização realmente invejável!!!
    </p>

    <div class="redirect-buttons">
      <div class="download-mobile-btn" (click)="redirectToExternalUrl('https://github.com/CondeArmand/gamemate-mobile')">
        <img src="assets/img/download_icon.svg" alt="">
        <p>Baixar Mobile</p>
      </div>
      <div class="web-acess-btn" (click)="redirectToExternalUrl('https://gamemate-x.netlify.app/')">
        <p>Acesse no navegador</p>
      </div>
    </div>

    <img src="assets/img/select_player.svg" class="select_player_img">
  </div>
  <div class="right-images">
    <img src="assets/img/data_points.svg" alt="">
    <img src="assets/img/gaming_re.svg" alt="">
  </div>

</main>
